.clock {
    font-size: 4rem;
}
.count-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    background-color: black;
    color: white;
    font-family: Press Start 2P;
  }
  
.number {
    font-size: 4rem;
    padding: 0.5rem;
}
  